body {
	background: black;
	color: white;
	margin-top: 5em;
}

.moon {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 50pt;
}

@media (max-width: 600px) {
  h1 {
    font-size: 10vw;
  }
}